In [2]:
print("Sup daggoes")

Sup daggoes

In [6]:
import pandas as pd
import numpy as np

# Dataset laden
train_df = pd.read_csv("train.csv", parse_dates=["date"])
holidays_df = pd.read_csv("holidays_events.csv", parse_dates=["date"])
transactions_df = pd.read_csv("transactions.csv", parse_dates=["date"])

# data sample
display("Train Data:", train_df.head())
display("Holidays Data:", holidays_df.head())
display("Transactions Data:", transactions_df.head())

'Train Data:'

   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0
1   1 2013-01-01          1   BABY CARE    0.0            0
2   2 2013-01-01          1      BEAUTY    0.0            0
3   3 2013-01-01          1   BEVERAGES    0.0            0
4   4 2013-01-01          1       BOOKS    0.0            0

'Holidays Data:'

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

'Transactions Data:'

        date  store_nbr  transactions
0 2013-01-01         25           770
1 2013-01-02          1          2111
2 2013-01-02          2          2358
3 2013-01-02          3          3487
4 2013-01-02          4          1922

In [7]:


# Merge train data with holiday events
holidays_df = holidays_df[['date', 'type', 'locale', 'locale_name']]
train_df = train_df.merge(holidays_df, on='date', how='left')

# Merge train data with transactions
train_df = train_df.merge(transactions_df, on=['date', 'store_nbr'], how='left')

# Fill missing values
train_df['transactions'].fillna(0, inplace=True)
train_df['type'].fillna("NoHoliday", inplace=True)
train_df['locale'].fillna("NoLocale", inplace=True)
train_df['locale_name'].fillna("NoLocaleName", inplace=True)

C:\Users\Nima\AppData\Local\Temp\ipykernel_16544\3136475734.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['transactions'].fillna(0, inplace=True)
C:\Users\Nima\AppData\Local\Temp\ipykernel_16544\3136475734.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['type'].fillna("NoHoliday", inplace=True)
C:\Users\Nima\AppData\Local\Temp\ipykernel_16544\3136475734.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['locale'].fillna("NoLocale", inplace=True)
C:\Users\Nima\AppData\Local\Temp\ipykernel_16544\3136475734.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['locale_name'].fillna("NoLocaleName", inplace=True)

In [9]:
# Datums omzetten naar dag van de week, maand en jaar
train_df['day_of_week'] = train_df['date'].dt.dayofweek
train_df['month'] = train_df['date'].dt.month
train_df['year'] = train_df['date'].dt.year
train_df['is_holiday'] = np.where(train_df['type'] != "NoHoliday", 1, 0)

# Save preprocessed data
#train_df.to_csv("train_preprocessed.csv", index=False)

# load preprocessed data
train_df = pd.read_csv("train_preprocessed.csv", parse_dates=["date"])
display("Train Data:", train_df.head())

'Train Data:'

,id,date,store_nbr,family,sales,onpromotion,type,locale,locale_name,transactions,day_of_week,month,year,is_holiday
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Holiday,National,Ecuador,0.0,1,1,2013,1
1,1,2013-01-01,1,BABY CARE,0.0,0,Holiday,National,Ecuador,0.0,1,1,2013,1
2,2,2013-01-01,1,BEAUTY,0.0,0,Holiday,National,Ecuador,0.0,1,1,2013,1
3,3,2013-01-01,1,BEVERAGES,0.0,0,Holiday,National,Ecuador,0.0,1,1,2013,1
4,4,2013-01-01,1,BOOKS,0.0,0,Holiday,National,Ecuador,0.0,1,1,2013,1

In [3]:
import pandas as pd
df = pd.read_csv(path + "/sales.csv")
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Nima\\.cache\\kagglehub\\datasets\\census\\retail-and-retailers-sales-time-series-collection\\versions\\49/sales.csv'